<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Sacramento&display=swap" rel="stylesheet">
    <title>Ingredient Show Page</title>
</head>

<body>
    <header>
        <ul class="nav-bar">
            <li class="header">Recipes</li>
            <li class="nav"><a href="/">Home</a></li>
            <li class="nav"><a href="/recipes">Recipes</a></li>
            <li class="nav"><a href="/recipes/new">Add New Recipe</a></li>
            <!-- <li class="nav"><a href="/ingredients">Ingredients</a></li>
            <li class="nav"><a href="/ingredients/new">Add New Ingredient</a></li> -->
        </ul>
    </header>

    <main>
        <h2>Ingredient Info</h2>
        <a href="/ingredients/<%= ingredient._id %>/edit">Edit</a>
        <ul>
            <li>Name: <%= ingredient.name %> </li>
            <li>Quantity: <%= ingredient.quantity %> </li>
            <li>Measurement: <%= ingredient.measurement %> </li>
        </ul>

        <form action="/ingredients/<%= ingredient._id %>?_method=DELETE" method="POST">
            <input class="blank" type="submit" value="Delete">
        </form>

    </main>

</body>

</html>