<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Edit Recipe Page</title>
</head>

<body>
    <header>
        <ul class="nav-bar">
            <li class="header">Recipes</li>
            <!-- <li class="nav"><a href="/">Home</a></li> -->
            <li class="nav"><a href="/recipes">My Recipes</a></li>
            <li class="nav"><a href="/recipes/new">Add New Recipe</a></li>
            <!-- <li class="nav"><a href="/ingredients">Ingredients</a></li>
            <li class="nav"><a href="/ingredients/new">Add New Ingredient</a></li> -->
            <li class="nav">
                <form class="search" action="/recipes/search" method="GET">
                    <div>
                        <input class="pink-input" type="search" id="recipeSearch" name="name"
                            placeholder="Search Recipes">
                        <button class="search-button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </li>
        </ul>
    </header>

    <div class="form">

        <form class="new" action="/recipes/<%= recipe._id %>?_method=PUT" method="POST">
            <h2>Edit <%= recipe.name %> </h2>
            <input type="text" name="name" value="<%= recipe.name %>">
            <input type="text" name="category" value="<%= recipe.category %>">
            <!-- <input type="date" name="dateCreated" value=" SQUID recipe.dateCreated %>"> -->
            <p>
                <textarea type="text" name="directions"><%= recipe.directions %></textarea>
            </p>
            <input class="blank" type="submit" value="Edit Recipe">
        </form>
    </div class="form">
</body>

</html>