<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Sacramento&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <title>Recipe Show Page</title>
</head>

<body>
    <header>
        <ul class="nav-bar">
            <li class="header">Recipe Builder</li>
            <!-- <li class="nav"><a href="/">Home</a></li> -->
            <li class="nav"><a href="/recipes">My Recipes</a></li>
            <li class="nav"><a href="/recipes/new">Add New Recipe</a></li>
            <!-- <li class="nav"><a href="/ingredients">Ingredients</a></li>
            <li class="nav"><a href="/ingredients/new">Add New Ingredient</a></li> -->
            <li class="nav">
                <form class="search" action="/recipes/search" method="GET">
                    <div>
                        <input class="pink-input" type="search" id="recipeSearch" name="name"
                            placeholder="Search Recipes">
                        <button class="search-button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </li>
            <li class="nav">
                <form action="/logout?_method=DELETE" method="POST">
                    <input class="log" type="submit" value="Logout: <%= user.username %>" />
                </form>
            </li>
        </ul>
    </header>

    <section class="flex">

        <div class="recipe-form">
            <h2 class="recipe-title"><%= recipe.name %> </h2>

            <h3>Category: <%= recipe.category %> </h3>
            <p>Directions: <%= recipe.directions %> </p>

            <div class="edit-delete">
                <a href="/recipes/<%= recipe._id %>/edit">Edit Recipe</a>

                <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                    <input class="blank" type="submit" value="Delete Recipe">
                </form>
            </div>

        </div>

        <div class="ingredient-list">
            <h2>Ingredients</h2>
            <a href="/ingredients/new/<%= recipe._id %>">+ Add Ingredient +<br></a><br>
            <h3>(Click ingredient to edit)</h3>

            <p>

                <% recipe.ingredients.forEach(ingredient => { %>
            <p>
                <a href="/ingredients/<%= ingredient._id %>/edit"> <%= ingredient.quantity %>
                    <%= ingredient.measurement %> <%= ingredient.name %></a>
            </p>
            <% }) %>

            </p>
        </div>

    </section>
</body>

</html>