<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Sacramento&display=swap" rel="stylesheet">
    <title>Recipe Show Page</title>
</head>

<body>
    <header>
        <ul class="nav-bar">
            <li class="header">Recipes</li>
            <li class="nav"><a href="/">Home</a></li>
            <li class="nav"><a href="/recipes">Recipes</a></li>
            <li class="nav"><a href="/recipes/new">Add New Recipe</a></li>
            <li class="nav"><a href="/ingredients">Ingredients</a></li>
            <li class="nav"><a href="/ingredients/new">Add New Ingredient</a></li>
        </ul>
    </header>

    <section class="flex">

        <div class="recipe-form">
            <h2 class="recipe-title"><%= recipe.name %> </h2>


            <h3>Category: <%= recipe.category %> </h3>
            <p>Directions: <%= recipe.directions %> </p>


            <div class="edit-delete">
                <a href="/recipes/<%= recipe._id %>/edit">Edit Recipe</a>

                <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                    <input class="delete" type="submit" value="Delete Recipe">
                </form>
            </div>

        </div>

        <div class="ingredient-list">
            <h2>Ingredients</h2>
            <a href="/ingredients/new">Add Ingredient +</a>

            <p>

                <% recipe.ingredients.forEach(ingredient => { %>
            <p>
                <a href="/ingredients/<%= ingredient._id %>/edit"> <%= ingredient.quantity %>
                    <%= ingredient.measurement %> <%= ingredient.name %> </a>
            </p>
            <% }) %>

            </p>
        </div>

    </section>
</body>

</html>